<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ h1 }}</title>
</head>
<body>
    <h1>{{ h1 }}</h1>
    <a href="{{ button_url }}">{{ button_text }}</a>
</body>
</html>